/*------------------------------------ @media Section-3---------------- */

@media screen and (max-width:1366px){
.sect-3{padding-top: 150px; width: 100%;}
.box3{display: flex;justify-content: center;align-items: center;}
.img-cd2{width: 700px;height: 600px;margin-left: 20px;transition: transform 0.5s ease 0s; }
.img-cd{width: 600px;height: 450px;  margin-right: 10px;transition: transform 0.5s ease 0s;}
.img-cd:hover{transform: translateY(-25px);transition: transform 0.4s ease 0s; cursor: pointer;}
.img-cd2:hover{transform: translateY(-25px);transition: transform 0.4s ease 0s; cursor: pointer;}
.card-text{width: 100%; text-align: center;padding-bottom: 50px;}
.card-2-txt{margin-left:20px;color: rgb(160, 147, 147);font-size: 17px;}
.card-1txt{color: rgb(160, 147, 147) ;font-size: 17px;}
.card-2-txt-2{margin: 20px 0;color:#373f48;letter-spacing: 2px;font-family: 'Raleway', sans-serif;}
.card-1-txt{margin: 20px;color:#373f48;letter-spacing: 2px;font-family: 'Raleway', sans-serif;}
.txt-sect-3{text-align: center;margin-bottom: 70px; font-size: 16px;font-weight: 100;color: rgb(160, 147, 147);letter-spacing: normal;}
}      
@media screen and (max-width:1200px){
    .sect-3{padding-top: 150px; width: 100%;}
    .box3{display: flex;justify-content: center;align-items: center;}
    .img-cd2{width: 600px;height: 500px;margin-left: 20px;transition: transform 0.5s ease 0s; }
    .img-cd{width: 500px;height: 400px;  margin-right: 10px;transition: transform 0.5s ease 0s;}
    .img-cd:hover{transform: translateY(-25px);transition: transform 0.4s ease 0s; cursor: pointer;}
    .img-cd2:hover{transform: translateY(-25px);transition: transform 0.4s ease 0s; cursor: pointer;}
    .card-text{width: 100%; text-align: center;padding-bottom: 50px;}
    .card-2-txt{margin-left:20px;color: rgb(160, 147, 147);font-size: 17px;}
    .card-1txt{color: rgb(160, 147, 147) ;font-size: 17px;}
    .card-2-txt-2{margin: 20px 0;color:#373f48;letter-spacing: 2px;font-family: 'Raleway', sans-serif;}
    .card-1-txt{margin: 20px;color:#373f48;letter-spacing: 2px;font-family: 'Raleway', sans-serif;}
    .txt-sect-3{text-align: center;margin-bottom: 70px; font-size: 16px;font-weight: 100;color: rgb(160, 147, 147);letter-spacing: normal;}
    }     
@media screen and (max-width:1024px){
    .sect-3{padding-top: 150px; width: 100%;}
    .box3{display: flex;justify-content: center;align-items: center;}
    .img-cd2{width: 500px;height: 450px;margin-left: 20px;transition: transform 0.5s ease 0s; }
    .img-cd{width: 400px;height: 300px;  margin-right: 10px;transition: transform 0.5s ease 0s;}
    .img-cd:hover{transform: translateY(-25px);transition: transform 0.4s ease 0s; cursor: pointer;}
    .img-cd2:hover{transform: translateY(-25px);transition: transform 0.4s ease 0s; cursor: pointer;}
    .card-text{width: 100%; text-align: center;padding-bottom: 50px;}
    .card-2-txt{margin-left:20px;color: rgb(160, 147, 147);font-size: 17px;}
    .card-1txt{color: rgb(160, 147, 147) ;font-size: 17px;}
    .card-2-txt-2{margin: 20px 0;color:#373f48;letter-spacing: 2px;font-family: 'Raleway', sans-serif;}
    .card-1-txt{margin: 20px;color:#373f48;letter-spacing: 2px;font-family: 'Raleway', sans-serif;}
    .txt-sect-3{text-align: center;margin-bottom: 70px; font-size: 16px;font-weight: 100;color: rgb(160, 147, 147);letter-spacing: normal;}
     }   
@media screen and (max-width:900px){
    .sect-3{padding-top: 150px; width: 100%;}
    .box3{display: flex;justify-content: center;align-items: center;}
    .img-cd2{width: 430px;height: 420px;margin-left: 20px;transition: transform 0.5s ease 0s; }
    .img-cd{width: 430px;height: 380px;  margin-right: 10px;transition: transform 0.5s ease 0s;}
    .img-cd:hover{transform: translateY(-25px);transition: transform 0.4s ease 0s; cursor: pointer;}
    .img-cd2:hover{transform: translateY(-25px);transition: transform 0.4s ease 0s; cursor: pointer;}
    .card-text{width: 100%; text-align: center;padding-bottom: 50px;}
    .card2{margin: 0;}
    .card-2-txt{margin-left:20px;color: rgb(160, 147, 147);font-size: 17px;}
    .card-1txt{color: rgb(160, 147, 147) ;font-size: 17px;}
    .card-2-txt-2{margin: 20px 0;color:#373f48;letter-spacing: 2px;font-family: 'Raleway', sans-serif;}
    .card-1-txt{margin: 20px;color:#373f48;letter-spacing: 2px;font-family: 'Raleway', sans-serif;}
    } 
@media screen and (max-width:771px){
    .sect-3{padding-top: 50px; width: 100%;}
    .box3{display: flex;justify-content: center;align-items: center;}
    .img-cd2{width: 470px;height: 400px;margin-left: 20px;transition: transform 0.5s ease 0s; }
    .img-cd{width: 450px;height: 400px;  margin-right: 0px;transition: transform 0.5s ease 0s;}
    .img-cd:hover{transform: translateY(-25px);transition: transform 0.4s ease 0s; cursor: pointer;}
    .img-cd2:hover{transform: translateY(-25px);transition: transform 0.4s ease 0s; cursor: pointer;}
    .card-text{width: 100%; text-align: center;padding-bottom: 50px;}
    .card2{margin: 0;}
    .card-2-txt{margin-left:20px;color: rgb(160, 147, 147);font-size: 17px;}
    .card-1txt{color: rgb(160, 147, 147) ;font-size: 17px;}
    .card-2-txt-2{margin: 20px 0;color:#373f48;letter-spacing: 2px;font-family: 'Raleway', sans-serif;}
    .card-1-txt{margin: 20px;color:#373f48;letter-spacing: 2px;font-family: 'Raleway', sans-serif;}
    }     

@media screen and (max-width:560px){
.sect-3{padding-top: 150px; width: 100%;}
.img-cd2{width: 500px;height: 400px;margin-left: 20px;transition: transform 0.5s ease 0s; }
.img-cd{width: 500px;height: 400px;  margin-right: 0px;transition: transform 0.5s ease 0s;}
.img-cd:hover{transform: translateY(-25px);transition: transform 0.4s ease 0s; cursor: pointer;}
.img-cd2:hover{transform: translateY(-25px);transition: transform 0.4s ease 0s; cursor: pointer;}
.card-text{width: 100%; text-align: center;padding-bottom: 50px;}
.card-2-txt{margin-left:20px;color: rgb(160, 147, 147);font-size: 17px;}
.card-1txt{color: rgb(160, 147, 147) ;font-size: 17px;}
.card2{margin: 0 30px 0 0;}
.card-2-txt-2{margin: 20px 0;color:#373f48;letter-spacing: 2px;font-family: 'Raleway', sans-serif;}
.card-1-txt{margin: 20px;color:#373f48;letter-spacing: 2px;font-family: 'Raleway', sans-serif;}
.txt-sect-3{text-align: center;margin-bottom: 70px; font-size: 16px;font-weight: 100;color: rgb(160, 147, 147);letter-spacing: normal;}
}
@media screen and (max-width:541px){
.sect-3{padding-top: 120px; width: 100%;}
.img-cd2{width: 500px;height: 370px;margin-left: 20px;transition: transform 0.5s ease 0s; }
.img-cd{width: 500px;height: 370px;  margin-right: 0px;transition: transform 0.5s ease 0s;}
.img-cd:hover{transform: translateY(-25px);transition: transform 0.4s ease 0s; cursor: pointer;}
.img-cd2:hover{transform: translateY(-25px);transition: transform 0.4s ease 0s; cursor: pointer;}
.card-text{width: 100%; text-align: center;padding-bottom: 50px;}
.card-2-txt{margin-left:20px;color: rgb(160, 147, 147);font-size: 17px;}
.card-1txt{color: rgb(160, 147, 147) ;font-size: 17px;}
.card2{margin: 0 0px 0 0;}
.card-2-txt-2{margin: 20px 0;color:#373f48;letter-spacing: 3px;font-family: 'Raleway', sans-serif;}
.card-1-txt{margin: 20px;color:#373f48;letter-spacing: 3px;font-family: 'Raleway', sans-serif;}
.txt-sect-3{text-align: center;margin-bottom: 70px; font-size: 16px;font-weight: 100;color: rgb(160, 147, 147);letter-spacing: normal;}
}

/*---------------------------------- section-3 (540px) Phones---------------- */

@media screen and (max-width:540px){
.card-text{font-size: 18px;padding-bottom: 20px;}
.txt-sect-3{margin-bottom: 20px;font-size: 15px;}
.img-cd{width: 500px;height: 400px;margin: 0;}
.img-cd2{width: 500px;height: 400px;margin: 0;}
.card-2-txt{margin: 20px 0;}
.card-1-txt{margin: 20px 0;}
}
@media screen and (max-width:528px) {
.img-cd{width: 470px;height: 400px;margin: 0;}
.img-cd2{width: 470px;height: 400px;margin: 0;}
}
@media screen and (max-width:485px) {
.img-cd{width: 450px;height: 360px;margin: 0;}
.img-cd2{width: 450px;height: 360px;margin: 0;}
}
@media screen and (max-width:435px) {
.img-cd{width: 380px;height: 360px;margin: 0;}
.img-cd2{width: 380px;height: 360px;margin: 0;}
.card-2-txt-2{font-size: 22px;}
.card-1-txt{font-size: 22px;}
}
@media screen and (max-width:375px) {
.img-cd{width: 340px;height: 330px;margin: 0;}
.img-cd2{width: 340px;height: 330px;margin: 0;}
.sect-3{padding-top: 200px;}
.card-2-txt-2{font-size: 21px;}
.card-1-txt{font-size: 21px;}
}
@media screen and (max-width:320px) {
.img-cd{width: 300px;height: 280px;margin: 0;}
.img-cd2{width: 300px;height: 280px;margin: 0;}
.sect-3{padding-top: 200px;}
.card-2-txt-2{font-size: 19px;}
.card-1-txt{font-size: 19px;}
.card-2-txt{font-size: 15px;}
.card-1txt{font-size: 15px;}
}
    
    


